[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = Nico Albanese
	email = nico.albanese@vercel.com
[core]
	editor = nvim
[push]
	autoSetupRemote = true
